/* General styling/Mobile styling */

* {
    overflow-y: hidden;
}

.alignRight {
    text-align: right !important;
}

.disappear {
    display: none;
}

.smallText {
    font-size: .675em;
}

.japanese {
    font-family: 'Roboto', 'Arial', 'ＭＳ Ｐゴシック', 'MS PGothic', 'メイリオ', Meiryo, "Hiragino Sans GB", sans-serif;
}

.preload *, .preload {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

body {
    font-family: 'Roboto', 'Arial', "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    background: rgb(45, 43, 51);
    margin: 0;
}

#main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    transition: 0.3s cubic-bezier(0.06, 0.35, 0.43, 0.84), ;
}

#cube-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    width: 100%;
    transition: 0.3s cubic-bezier(0.06, 0.35, 0.43, 0.84), ;
}

/* <a>s */

a {
    transition: .1s ease-out;
}

a:link {
    text-decoration: none;
    color: rgb(132, 121, 255);
}

a:visited {
    color: rgb(210, 121, 255);
}

a:hover {
    color: rgb(121, 181, 255);
}

a:active {
    color: rgb(94, 139, 195);
}

/* Scroll Bar */

/* width */

::-webkit-scrollbar {
    width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
    border-radius: 4px;
    background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

h1 {
    margin: 0, 1vw;
    font-weight: 300;
    line-height: 5vw;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .25);
    font-size: 5vw;
    color: #e7e7e7;
}

/* Cards */

.cube-display {
    background: rgb(63, 67, 87, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1em;
    width: 49vw;
    box-shadow: 0 0 0.15em 0.15em rgba(0, 0, 0, .125);
    transition: border-radius .2s ease-in-out, .4s ease-in-out;
    overflow: hidden;
    margin: 5vw 0;
}

.tower-display {
    background: rgb(63, 67, 87, 0.1);
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 1em;
    width: 99vw;
    box-shadow: 0 0 0.15em 0.15em rgba(0, 0, 0, .125);
    transition: border-radius .2s ease-in-out, .4s ease-in-out;
    overflow: hidden;
}

.tower-display .cube.container {
    position: relative;
    margin: 0 2vw;
    width: 25vw;
    height: 30vw;
}

.cube-display .cube.container {
    position: relative;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%);
    width: 25vw;
    height: 31vw;
}

.cube.image {
    margin: 0;
    width: 25vw;
    height: 25vw;
    border-radius: 2vw;
}

.cube.container>.counter {
    font-size: 5vw;
    color: #FFFFFF;
    margin: 0;
}

.add-animation {
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-name: add-animation;
    animation-duration: 0.7s;
}

.remove-animation {
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-name: remove-animation;
    animation-duration: 1.5s;
}

.score-display {
    background: rgb(63, 67, 87, 0.1);
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 1em;
    width: 99vw;
    box-shadow: 0 0 0.15em 0.15em rgba(0, 0, 0, .125);
    transition: border-radius .2s ease-in-out, .4s ease-in-out;
    overflow: hidden;
}

.score-display p {
    font-family: 'Roboto', 'Quicksand', 'Arial', "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-weight: 900;
    font-size: 5vw;
    color: #FFFFFF;
    width: 25vw;
    margin: 1vw 0;
}

.score-display .leading {
    font-size: 10vw;
    width: 50vw;
}

@keyframes add-animation {
    0% {
        background: rgba(0, 255, 0, 0)
    }
    20% {
        background: rgba(0, 255, 0, 1)
    }
    100% {
        background: rgba(0, 255, 0, 0)
    }
}

@keyframes remove-animation {
    0% {
        background: rgba(255, 0, 0, 0)
    }
    25% {
        background: rgba(255, 0, 0, 1)
    }
    100% {
        background: rgba(255, 0, 0, 0)
    }
}