/* General styling/Mobile styling */

body{
    overflow: hidden;
}

html {
    height: 100%;
    width: 100%;
}

.alignRight {
    text-align: right !important;
}

.disappear {
    display: none;
}

.smallText {
    font-size: .675em;
}

.japanese {
    font-family: 'Roboto', 'Arial', 'ＭＳ Ｐゴシック', 'MS PGothic', 'メイリオ', Meiryo, "Hiragino Sans GB", sans-serif;
}

.vertical-flex {
    display: flex;
    flex-direction: column;
}

.preload *, .preload {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

body {
    font-family: 'Roboto', 'Arial', "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    background: rgb(45, 43, 51);
    margin: 0;
    height: 100%;
    width: 100%;
}

#main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    transition: 0.1s cubic-bezier(0.06, 0.35, 0.43, 0.84);
}

#cube-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    width: 100%;
    transition: 0.1s cubic-bezier(0.06, 0.35, 0.43, 0.84), ;
}

/* <a>s */

a {
    transition: .1s ease-out;
}

a:link {
    text-decoration: none;
    color: rgb(132, 121, 255);
}

a:visited {
    color: rgb(210, 121, 255);
}

a:hover {
    color: rgb(121, 181, 255);
}

a:active {
    color: rgb(94, 139, 195);
}

/* Scroll Bar */

/* width */

::-webkit-scrollbar {
    width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
    border-radius: 4px;
    background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

h1 {
    margin: 0.5vh 0vh;
    font-weight: 300;
    line-height: 3vh;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .25);
    font-size: 3vh;
    color: #e7e7e7;
}

h2 {
    margin: 0;
    text-decoration: underline;
    font-weight: 300;
    line-height: 2.5vh;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .25);
    font-size: 2.5vh;
    color: #e7e7e7;
    margin: .5vh 0 0 0;
}

/* Cards */

.cube-display {
    background: rgb(63, 67, 87, 0.5);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1em;
    width: 45vw;
    box-shadow: 0 0 0.15em 0.15em rgba(0, 0, 0, .125);
    transition: border-radius .1s ease-in-out, .2s ease-in-out;
    margin: 1vh 1vw 0 1vw;
    padding: 1.75vh 0 0 0;
}

.tower-display {
    background: rgb(63, 67, 87, 0.5);
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 1em;
    width: 95vw;
    margin: 0px 2.5vw;
    max-height: 20vh;
    height: auto;
    box-shadow: 0 0 0.15em 0.15em rgba(0, 0, 0, .125);
    padding: 1.75vh 0 0 0;
}

.tower-display .cube.container {
    overflow: visible;
    margin: 0 1.5vw;
    max-width: 25vw;
    max-height: 15.5vh;
    width: auto;
    height: auto;
}

.cube-display .cube.container {
    overflow: visible;
    position: relative;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%);
    max-width: 25vw;
    max-height: 15vh;
    width: auto;
    height: auto;
}

.cube.container>.counter {
    z-index: 100;
    overflow: visible;
    position: relative;
    left: 45%;
    font-size: 5vh;
    line-height: 0vh;
    color: #FFFFFF;
    margin: 0 0 0vh 0;
}

.cube.image {
    margin: 0;
    position: relative;
    top: 0vh;
    max-height: 15vh;
    max-width: 25vw;
    width: auto;
    height: auto;
    border-radius: 2vw;
}

#suggestion-cube {
    margin: 0;
    max-height: 15vh;
    max-width: 25vw;
    width: auto;
    height: auto;
    border-radius: 2vw;
}

.green-animation {
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-name: green-animation;
    animation-duration: 0.7s;
}

.red-animation {
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-name: red-animation;
    animation-duration: 1.5s;
}
.yellow-animation {
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-name: yellow-animation;
    animation-duration: 2s;
}

#cube-container .blue-side{
    background: rgba(0, 20, 121, 0.3);  
}
#cube-container .red-side{
    background: rgba(219, 0, 0, 0.3);  
}
.score-display {
    background: rgb(63, 67, 87, 0.8);
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 1em;
    width: 95vw;
    max-height: 20vh;
    box-shadow: 0 0 0.15em 0.15em rgba(0, 0, 0, .125);
    transition: border-radius .1s ease-in-out, .2s ease-in-out;
    margin: 1vh 2.5vw;
}

.score-display p {
    font-family: 'Roboto', 'Quicksand', 'Arial', "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-size: 4vh;
    line-height: 4vh;
    color: #FFFFFF;
    width: 25vw;
    margin: 1vh 0 0 0;
}

.score-display div {
    max-width: 15vh;
}

.score-display .leading {
    font-weight: 900;
    line-height: 6vh;
    font-size: 6vh;
    width: 40vw;
    margin: 0;
}

#suggestion-change {
    font-size: 9vh;
    line-height: 9vh;
    font-weight: 1000;
}

#suggestion-change, #suggestion {
    position: relative;
    left: -5vw;
    margin: 0;
}

.greenbg {
    background: rgba(0, 255, 0, 0.7)
}

.redbg {
    background: rgba(255, 0, 0, 0.7)
}

@keyframes green-animation {
    0% {
        background: rgba(0, 255, 0, 0)
    }
    20% {
        background: rgba(0, 255, 0, 1)
    }
    100% {
        background: rgba(0, 255, 0, 0)
    }
}

@keyframes red-animation {
    0% {
        background: rgba(255, 0, 0, 0)
    }
    25% {
        background: rgba(255, 0, 0, 1)
    }
    100% {
        background: rgba(255, 0, 0, 0)
    }
}


@keyframes yellow-animation {
    0% {
        background: rgba(255, 255,0, 0)
    }
    25% {
        background: rgba(255, 255, 0, 1)
    }
    100% {
        background: rgba(255, 255, 0, 0)
    }
}

/* .tall-screen .tower-display{
    max-height: 30vh;
    height: 25vh;
} */

.tall-screen .tower-display .cube.container {
    overflow: visible;
    margin: 0 1.5vw;
    max-width: 25vw;
    max-height: 16vh;
    width: auto;
    height: auto;
}

.tall-screen .cube-display .cube.container {
    max-height: 20vh;
}

.tall-screen .cube.container>.counter {
    left: 0%;
    font-size: 4vh;
    line-height: 3vh;
}

/* *.wide-screen {
    background-color: #ffffff;
} */
#enemy{
    border-radius: 0em;
}